.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 120rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 3.2rem 0 rgba(83, 89, 179, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 3rem;
  overflow: hidden;
}

